.listOfActors {
	
	
	list-style-type: none;
		    padding-left: 0 !important;
}

.listOfActors li {
	float: left;
margin-right: 5px;
}
	
.imgInTable img{
	width: 55px;
	    height: 80px;
}
.table-bordered{
	    margin-top: 20px;
	        text-align: center;
}
.pic {
	
	list-style-type: none;
}

.searchImdb{
	float:left;
	    width: 50%;
}
